.products
	display flex
	justify-content space-between
	flex-wrap wrap
	width 100%
	max-width 1120px

	+below($responsiveTablet)
		justify-content space-around

	&__product-wrapper
		+below($responsiveTablet)
			&:first-child
				margin-bottom 60px
				display flex
				justify-content center
				width 100%
			
		+below($responsivePhone)
			display flex
			justify-content center
			width 100%
			&:not(:last-child)
				margin-bottom 60px
