.products
	display flex
	justify-content space-between
	flex-wrap wrap
	width 100%
	max-width 1120px

	+below($responsiveTablet)
		justify-content space-around
		
		&__product-wrapper
			margin-bottom 60px 
			&:first-child
				display flex
				justify-content center
				width 100%
			
	+below($responsivePhone)
		&__product-wrapper
				display flex
				justify-content center
				width 100%