.products
	display flex
	justify-content space-between
	flex-wrap wrap
	width 100%
	max-width 1120px

	+below($responsiveTablet)
		justify-content space-around
		
		&__product-wrapper
			margin-bottom 24px 
			&:first-child
				width 100%
				display flex
				justify-content center
			
	+below($responsivePhone)
		&__product-wrapper
				margin-bottom 16px
				width 100%
				display flex
				justify-content center