.product
	position relative
	font-family trebuchet
		
	&__input 
		position absolute
		z-index -1
		top 0
		left 0
		size 100%
		opacity 0

	&__container:hover
	&__input:focus + &__label &__container:hover 
		border-color $bright-blue
		
		&:before
			border-left-color $bright-blue

		&:after
			border-top-color $bright-blue
			border-right-color $bright-blue

	&__container:hover &
	&__input:focus + &__label &__container:hover &
		&__weight
			background-color $bright-blue

	&__container:hover + &__action-call &__buy-link
	&__input:focus + &__label &__container:hover + &__action-call &__buy-link
		color $bright-blue
		border-bottom-color $bright-blue

	&__input:checked:focus + &__label &
	&__input:checked + &__label &
	&__input:checked:focus + &__label &__container:hover &	
		&__container
			border-color $vivid-pink
			
			&:before
				border-left-color $vivid-pink

			&:after
				border-top-color $vivid-pink
				border-right-color $vivid-pink

		&__weight
			background-color $vivid-pink

		&__buy-text
		&__buy-link
		&__no-approve
			display none

		&__consist
		&__description
			display block

	&__input:checked:focus + &__label &__container:hover
		border-color $vivid-pink
			
		&:before
			border-left-color $vivid-pink

		&:after
			border-top-color $bright-pink
			border-right-color $bright-pink

	&__input:checked + &__label &__container:hover
		border-color $bright-pink

		&:before
			border-left-color $bright-pink

		&:after
			border-top-color $bright-pink
			border-right-color $bright-pink

	&__input:checked + &__label &__container:hover &
		&__weight
			background-color $bright-pink

		&__description
			display none

		&__no-approve
			display block

	&__input[disabled] + &__label &

		&__container
			cursor default
			border-color $gray

			&:before
				border-left-color $gray

			&:after
				border-top 4px solid $gray
				border-right 4px solid $gray

		&__disabled
			position absolute
			top 0
			left 0
			display block
			size 100%
			content ''
			background-color $light-gray
			opacity .5
		
		&__weight
			background-color $gray

		&__description
		&__name
		&__additive
		&__portions
		&__present
			color $gray
			opacity .5
			
		&__buy-text
		&__buy-link
			display none

		&__no-more
			display block

	&__input:focus + &__label &__container
	&__container
		position relative
		margin-bottom 14px
		width 320px
		height 435px
		cursor pointer
		background-color $light-gray
		border 4px solid $vivid-blue
		border-top 0
		border-bottom-right-radius 14px
		border-bottom-left-radius 14px
		transition border .3s
		&:before
			position absolute
			z-index 1
			top -39px
			left 10px
			display block
			width 36px
			height 62px
			content ''
			transform rotate(45deg)
			border-left 4px solid $vivid-blue
			border-radius 0 0 0 5px
			transition border .3s

		&:after
			position absolute
			z-index 0
			top -44px
			right -4px
			display block
			clip rect(auto, auto, auto, 38px)
			width 100%
			height 45px
			content ''
			background-color $light-gray
			border-top 4px solid $vivid-blue
			border-right 4px solid $vivid-blue
			border-radius 0 10px 0 0
			transition border .3s

		+below($responsivePhone)
			margin-x auto

		+below($responsivePhoneSmall)
			width 290px

	&__hidden-triangle
		position absolute
		z-index -1
		top -17px
		left -1px
		display block
		size 0
		border-left 39px solid transparent
		border-bottom 39px solid $light-gray

	&__info
		position relative
		z-index 1
		top -22px
		padding-left 44px

	&__description-wrapper
		position relative
		margin-bottom 11px
		width 100%
		height 16px

	&__description
	&__no-approve
		position absolute
		top 0
		left 0

	&__no-approve
		display none
		font-size 16px
		font-weight 400
		color $bright-pink

	&__description
		font-size 16px
		color $dark-gray

	&__name,
	&__additive
		font-weight 700
		color $black

	&__name
		margin-bottom 3px
		margin-left -2px
		font-size 48px

	&__additive
		margin-bottom 17px
		font-size 24px

	&__portions
	&__present
		font-size 14px
		line-height 16px
		color $dark-gray

	&__quantity
		font-weight 700

	&__image-wrapper
		position absolute
		left 0
		bottom 0
		overflow hidden
		width 304px
		height 272px
		border-bottom-left-radius 14px

	&__image
		position absolute
		top 5px
		left -27px

	&__input:focus + &__label &__weight
	&__weight
		position absolute
		right 12px
		bottom 12px
		padding-top 12px
		display flex
		justify-content center
		size 80px
		background-color $vivid-blue
		border-radius 50%
		transition background-color .3s

	&__disabled
		display none
		border-bottom-right-radius 14px
		border-bottom-left-radius 14px

	&__number
		font-size 42px
		color $white

		&:after
			position absolute
			top 65%
			right 38%
			font-size 21px
			line-height 22px
			content 'кг'

	&__action-call
		max-width 320px
		min-height 18px
		text-align center

	&__buy-text
	&__buy-link
	&__consist
	&__no-more
		display none
		font-size 13px
		font-weight 400
		line-height 16px
		text-shadow 0 1px 0 $black
		color $white

		+below($responsivePhoneSmall)
			font-size 12px
			line-height 14px

	&__input:focus + &__label &
		&__buy-text
		&__buy-link
			display inline-block

	&__buy-text
	&__buy-link
		display inline-block

	&__buy-link
		font-weight 700
		text-decoration none
		cursor pointer
		color $vivid-blue
		border-bottom 1px dashed $vivid-blue
		transition color .3s, border

		&:hover
			color $bright-blue
			border-bottom-color $bright-blue

	&__no-more
		color $light-yellow

	// Чтобы не писать импортанты, трудноустранямый баг с фокусом при двойном клике при checked
	&_checked-hover > &__input:checked + &__label &__container > &__info &__no-approve
		display none
	&_checked-hover > &__input:checked + &__label &__container > &__info &__description
		display block