@font-face
	font-family 'Trebuchet'
	src url('../fonts/woff2/Trebuchet.woff2') format('woff2'),
		url('../fonts/woff/Trebuchet.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'Trebuchet'
	src url('../fonts/woff2/Trebuchet-Bold.woff2') format('woff2'),
		url('../fonts/woff/Trebuchet-Bold.woff') format('woff')
	font-weight 700
	font-style normal

@font-face
	font-family 'Exo-Thin'
	src url('../fonts/woff2/Exo-Thin.woff2') format('woff2'),
		url('../fonts/woff/Exo-Thin.woff') format('woff')
	font-weight normal
	font-style normal