extends /blocks/layout-default/layout-default

include /blocks/container/container
include /blocks/heading/heading 

block head
	- var pageTitle = 'FunBox тестовое задание';

block content
	+container
		+heading
			| Ты сегодня покормил кота?
